body{
    background-repeat: no-repeat;
    background-size: 100%;
    }
    h1{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(128, 7, 7);
    }
    table tr td{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    }
    .container2{
    color: black;
    background-color: transparent;
    box-shadow: 5px 5px 10px rgb(43, 42, 42);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 50px;
    }
    .card2{
    padding-left: 200px;
    padding-right: 200px;
    border-radius: 50px;
    }
    .but{
    text-align: center;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    border-radius: 500px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    }
    but.hover-item{
    background-color: black;
    margin: auto;
    cursor: pointer;
    }
    .buttons{
    display: flex;
    justify-content: center;
    }
    .ab{
        display: flex;
        justify-content: center;
        text-align: center;
    }